/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    /*outline: none;*/
}

a:focus,
a:active {
    /* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    /*display: inline-block;*/
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/*-----------------------------------------------*/

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

/*-----------------------------------------------*/

:root {
    --black: #1c1c1c;
    --white: whitesmoke;
    --red: #ff2727;
}

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    background: #E9F7FF;

    letter-spacing: 0.03em;
}

.header {
    font-size: 1rem;

    background: var(--black);
    color: var(--white);
}

.header__wrapper {
    max-width: 120em;
    height: 100%;
    margin-inline: auto;
    padding: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__wrapper h1 {
    font-size: 3.2em;
    text-align: center;
}

.wrapper {
    font-size: 1rem;
    max-width: 124em;
    margin-inline: auto;
    padding-inline: 2em;
}

.form-section {
    margin-top: 10em;
}

.form {
    display: flex;
    flex-direction: column;

    row-gap: 2.2em;
    margin-inline: auto;
}

.main-block {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;

    padding: 2em 3em 2.5em;

    box-shadow: 0 0.2em 0.4em 0.3em rgba(0, 0, 0, 0.25);
    background: #E1EBE9;
    border-radius: 0.9em;
}

.main-block.monteKarlo, .result-monte {
    background: #ffc3c3;
}

.main-block.annealing, .result-annealing {
    background: #c9ffc3;
}

.main-block.ga, .result-ga {
    background: #c3fffa;
}

.commonData__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 2.5em;
}

.function {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

form input:not([type="checkbox"]) {
    --input-ratio: 2.4;
    font-size: 2.4em;

    width: 100%;
    padding: calc(0.8em / var(--input-ratio)) calc(1.2em / var(--input-ratio));
    background: white;
    border: 1px solid #C0C0C0;
    border-radius: calc(1.1em / var(--input-ratio));
}

form input:not([type="checkbox"]):focus {
    outline: calc(0.2em / var(--input-ratio)) solid black;
}

.hidden {
    display: none;
}

.title {
    font-size: 2.8em;
    font-weight: 800;
    text-align: center;
}

.subtitle {
    font-size: 2.6em;
    font-weight: 600;
}

.text {
    font-size: 2.4em;
}

.borders {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2.5em;
}

.border {
    display: flex;
    align-items: center;
}

.border__text {
    font-size: 2.4em;
}

.scobka {
    --scobka-ratio: 6.4;
    font-size: 6.4em;
    font-weight: 200;
    margin-top: calc(-0.6em / var(--scobka-ratio));
}

.tz {
    --tz-ratio: 2.8;
    font-size: 2.8em;
    margin-inline: calc(0.7em / var(--tz-ratio));
}

.borders input {
    text-align: center;
    max-width: calc(8em / var(--input-ratio));
}

.methodsList {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.ga__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.ga__inputs-item {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.ga__inputs-item input {
    max-width: calc(11em / var(--input-ratio));
}

.ga__inputs-text {
    font-size: 2.4em;
}

.methods {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}

.annealing__inputs {
    display: flex;
    align-items: center;
    column-gap: 1.2em;
}

.controls {
    display: flex;
    gap: 0.75em 2em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5em;
    column-gap: 2.5em;
}

.checkboxes__text {
    font-size: 2.4em;
}

.checkboxes__item {
    --checkboxes__item-ratio: 2.4;
    font-size: 2.4em;

    user-select: none;
    display: flex;
    align-items: center;
    column-gap: calc(1em / var(--checkboxes__item-ratio));
}

.form input[type="checkbox"] {
    cursor: pointer;
    width: calc(2.2em / var(--checkboxes__item-ratio));
    aspect-ratio: 1 / 1;
}

.checkboxes input {
}

#eps {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2.5em;
    row-gap: 1em;

    opacity: 0;
    animation: fade-in 0.4s ease-in-out forwards 0.3s;
}

.eps .eps__input {
    width: 10em;
}

.checkboxes__item-eps {
    white-space: nowrap;
}

.btn {
    --btn-ratio: 2.2;
    font-size: 2.2em;
    color: whitesmoke;

    padding: calc(1.8em / var(--btn-ratio)) calc(3em / var(--btn-ratio));

    border-radius: calc(0.9em / var(--btn-ratio));
    background: #2B2B2B;
    transition: all 0.1s ease-in-out;
}

.btn-submit[disabled = 'disabled'] {
    background: #B5B5B5;
    cursor: auto;
}

@media (hover: hover) {
    .btn-submit:not([disabled = 'disabled']):hover {
        background: gray;
    }
}

.btn-submit:not([disabled = 'disabled']):active {
    background: whitesmoke;
    color: black;
}

.btn-clear {
    background: #eeff72;
    color: var(--black);
}

.btn-clear[disabled = 'disabled']{
    background: #f6ffdc;
    cursor: auto;
}

@media (hover: hover) {
    .btn-clear:not([disabled = 'disabled']):hover {
        filter: brightness(90%);
    }
}

.btn-clear:not([disabled = 'disabled']):active {
    filter: brightness(80%);
}

.btn-reset {
    background: var(--red);
    color: var(--white);
}

@media (hover: hover) {
    .btn-reset:hover {
        filter: brightness(90%);
    }
}

.btn-reset:active {
    filter: brightness(80%);
}

.loader {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    z-index: 2;
}

.loader svg {
    max-height: 100%;
}

.results {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;

    margin-bottom: 20em;
    margin-top: 2.5em;
}

.results__item {
    font-size: 2.4em;
}

.main-block-white {
    position: relative;
    background: white;
    flex-grow: 1;

    width: 100%;

    justify-content: space-between;
    align-items: self-start;
    row-gap: 2.3em;
    z-index: 0;

    overflow: auto;
}

.main-block-white-progress {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: gray;
    background: #cccccc;
}

.annealing-progress {
    transition: 0.5s all ease-in-out;
}

.laba__results {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49em, 1fr));
    gap: 2em;
}

.result h2 {
    font-weight: 600;
}

.result {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    height: 32em;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 1920px) {
    html {
        font-size: calc(((100vw) / 1920 * 10));
    }
}

@media (max-width: 1440px) {
    html {
        font-size: calc(((100vw) / 1920 * 10) + 2px);
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 768px) {

    .header__wrapper h1 {
        font-size: calc(1.5em + (32 - 15) * ((100vw - 32rem) / (768 - 320)));
    }

    .wrapper {
        font-size: calc(0.7rem + (10 - 7) * ((100vw - 32rem) / (768 - 320)));
    }

    .form-section {
        margin-top: 7em;
    }

    .function {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.5em;
    }

    .main-block {
        padding-inline: 2.2em;
        border-radius: 0.7em;
    }

    form input:not([type="checkbox"]) {
        border-radius: calc(0.7em / var(--input-ratio));
    }

    .controls {
        flex-direction: column;
    }

    .btn {
        border-radius: calc(0.7em / var(--btn-ratio));
    }

    .laba__results {
        grid-template-columns: auto;
    }
}